// Custom import here
// color pallete? primary #dce0d9, secondary #31081f, tertiary #6b0f1a, quad #595959, quint #808f85 

.html, .body {
    height: 100vh;
    min-height: 100vh;
}

#root {
    height: 100vh;
}


.bg-img {
    background-image: url("../assets/images/wood2.jpg");
    background-size: contain;
    background-repeat: repeat;

        
}

$theme-colors: (
    "primary": #dce0d9,
    "secondary":#31081f,
    "tertiary": #6b0f1a,
    "quad": #595959,
    "quint": #808f85
);
//default imports
@import "~bootstrap/scss/bootstrap.scss";