// Custom import here


.html, .body {
    height: 100vh;
    min-height: 100vh;
}

#root {
    height: 100vh;
}


.bg-img {
    background-image: url("../assets/images/wood2.jpg");
    background-size: contain;
    background-repeat: repeat;

        
}

$theme-colors: (
    "primary": #394053,
    "secondary": #f6e27f,
    "tertiary": #e2c391,
    "quad": #a8b7ab
);
//default imports
@import "~bootstrap/scss/bootstrap.scss";